{{- if and .Values.storage.cluster.enabled .Values.storageOperator.enabled }}
{{- $image := printf "%s%s" .Values.registry .Values.storageOperator.image -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Release.Name }}-storage-operator
  labels:
    app: {{ .Release.Name }}-storage-operator
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ .Release.Name }}-storage-operator
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch", "create", "delete"]
  - apiGroups: [""]
    resources: ["persistentvolumeclaims"]
    verbs: ["get", "list", "watch", "create", "delete"]
  - apiGroups: ["storage.eosin.io"]
    resources: ["clusters"]
    verbs: ["get", "list", "watch", "patch", "update"]
  - apiGroups: ["storage.eosin.io"]
    resources: ["clusters/status"]
    verbs: ["get", "patch", "update"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ .Release.Name }}-storage-operator
subjects:
  - kind: ServiceAccount
    name: {{ .Release.Name }}-storage-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ .Release.Name }}-storage-operator
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-storage-operator
spec:
  replicas: {{ .Values.storageOperator.replicas }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}-storage-operator
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-storage-operator
    spec:
      serviceAccountName: {{ .Release.Name }}-storage-operator
    {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.imagePullSecrets | indent 8 }}
    {{- end }}
      containers:
      - name: storage-operator
        imagePullPolicy: {{ .Values.storageOperator.imagePullPolicy }}
        image: {{ $image }}
    {{- if .Values.storageOperator.resources }}
        resources:
{{ toYaml .Values.storageOperator.resources | indent 10 }}
    {{- end }}
        command:
          - eosin-storage-operator
          - manage-clusters
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
{{ include "eosin.metrics-env" . | indent 8 }}
{{- end }}
